h1 {
  text-align: center;
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jumbotron {
  margin-top: 25px;
  background-image: url(https://wc.wallpaperuse.com/wallp/80-801948_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px outset turquoise;
  border-radius: 50px;
}

.prop, .prop1, .prop2, .prop3 {
  display: none;
}

.btn {
  background-color: grey;
}

#place {
  font-size: 25px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 100px;
  margin-top: 50px;
}

p {
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 5px;
}

